body {
    font-family: 'Orbitron', sans-serif;
    background-color: #ffffff;
}

#app {
  position: relative;
  width: 99%;
  height: 96vh;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-gutter: stable both-edges;
  padding-right: 3%;
}

@media screen and (max-width: 768px) {
    #app {
        padding-right: 6%;
    }
  
}


.content-page {
    position: relative;
    top: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center;
}

.content-page > div {
    margin: 10px 0;
}


/* inverted text */
.content-page h1, .content-page h4 {
    mix-blend-mode: difference;
    filter: invert(1);
}

#app::-webkit-scrollbar {
    width: 12px; 
  }
  
  #app::-webkit-scrollbar-track {
    background: #6e6e6e;
  }
  
  #app::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 0; 
  }
  
  #app::-webkit-scrollbar-thumb:hover {
    background: #474747;
  }

  a:hover {
    background: linear-gradient(270deg, #F536EE, #F4367D, #F56436);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @keyframes flowingGradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }